### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Data/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [11]:
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

## Player Count

* Display the total number of players

In [12]:
#Use len and .unique to identify the 
total_players = len(purchase_data["SN"].unique())

total_players_df = pd.DataFrame({"Total Players": [total_players]})

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
avg_price = purchase_data["Price"].mean()


num_purchases = purchase_data["Item ID"].count()


total_revenue = purchase_data["Price"].sum()


unique_items = purchase_data["Item ID"].nunique()

In [14]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [avg_price],
                                   "Number of Purchases": [num_purchases], 
                                   "Total Revenue": [total_revenue]})

purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype(float).map("${:.2f}".format)


purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
groupby_gender_sn = purchase_data.groupby(["SN", "Gender"])
groupby_gender_sn

players_df = pd.DataFrame(groupby_gender_sn.size())
players_df

gender_df = pd.DataFrame(players_df.groupby(["Gender"]).count())
gender_df.columns = ["Total Count"]

#Format percentage of players properly

gender_df["Percentage of Players"] = (100*(gender_df["Total Count"]/gender_df["Total Count"].sum()))

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map('{:,.2f}%'.format)

gender_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# Group by gender
groupby_gender_df = purchase_data.groupby(["Gender"])
groupby_gender_df

#Count the total amount of screen names


#Create multiple calculations Unique / mean / sum /  calculation  of total value/total gender

avg_price_gender = groupby_gender_df["Price"].mean()

total_revenue = groupby_gender_df["Price"].sum()

unique_purchases = groupby_gender_df["Item ID"].count()

# Delete Duplicates
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])

# Find average total purchase
avg_total_purchase = (groupby_gender_df["Price"].sum() / grouped_dup["SN"].count())


#Create DF for Purchasing Analysis (Gender)
groupby_gender = pd.DataFrame({"Purchase Count":unique_purchases, "Average Purchase Price": avg_price_gender, "Total Purchase Value": total_revenue, "Avg Total Purchase per Person": avg_total_purchase})

groupby_gender["Avg Total Purchase per Person"] = groupby_gender["Avg Total Purchase per Person"].astype(float).map('${:.2f}'.format)
groupby_gender["Total Purchase Value"] = groupby_gender["Total Purchase Value"].astype(float).map('${:,.2f}'.format)
groupby_gender["Average Purchase Price"] = groupby_gender["Average Purchase Price"].astype(float).map('${:.2f}'.format)

groupby_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Create Bins for Age Demographics
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Seperate and sort age values into age bins establised 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

#Group "Age Group" prepare data to build the DataFrame
age_grouped = purchase_data.groupby("Age Group")

#Count the total number of players by each age category
total_age_count = age_grouped["SN"].nunique()

#Calculate the percentages by age
all_players = len(purchase_data["SN"].value_counts())

percentage_by_age = (total_age_count/all_players) * 100

#Build the DataFrame with "Age Group" 
age_demo = pd.DataFrame({"Total Count": total_age_count, "Percentage of Players": percentage_by_age })

# Format the DataFrame to have no index on the left column
age_demo.index.name = None

#Formate percentage with two decimal places
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].astype(float).map('{:.2f}%'.format)

age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#Create data categories based using grouped age 

purchase_count_byage = age_grouped["Purchase ID"].count()

avg_price_byage = age_grouped["Price"].mean()

total_purchase_value_byage = age_grouped["Price"].sum()

avg_total_purchase_byage = (total_purchase_value_byage / total_age_count)


#Create DataFrame Bin /purchase_data / by age

purchasing_by_age = pd.DataFrame({"Purchase Count": purchase_count_byage, "Average Purchase Price": avg_price_byage, "Total Purchase Value": total_purchase_value_byage, "Average Total Purchase per Person": avg_total_purchase_byage})

#Format the data 
purchasing_by_age["Average Purchase Price"] = purchasing_by_age["Average Purchase Price"].astype(float).map('${:.2f}'.format)
purchasing_by_age["Total Purchase Value"] = purchasing_by_age["Total Purchase Value"].astype(float).map('${:.2f}'.format) 
purchasing_by_age["Average Total Purchase per Person"] = purchasing_by_age["Average Total Purchase per Person"].astype(float).map('${:.2f}'.format)

purchasing_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
#Group by "SN" to set up the DataFrame for Top Spenders
top_spenders = purchase_data.groupby("SN")

#Create calculations for the DataFrame
purchase_count_top = top_spenders["Purchase ID"].count()

avg_purchase_price_top = top_spenders["Price"].mean()

total_purchase_value_top = top_spenders["Price"].sum()

#Create DataFrame for Top Spenders
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_top, "Average Purchase Price": avg_purchase_price_top, "Total Purchase Value":total_purchase_value_top})

#Sort top spenders in decending order
top_spenders_formatted = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False)

#Format the data
top_spenders_formatted["Average Purchase Price"] = top_spenders_formatted["Average Purchase Price"].astype(float).map('${:.2f}'.format)
top_spenders_formatted["Total Purchase Value"] = top_spenders_formatted["Total Purchase Value"].astype(float).map('${:.2f}'.format)


top_spenders_formatted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame